<div class="container">
  <h1>New order</h1>

  <%= render "form", {order: @order, menus: @menus, order_menus: nil} %>
  
  <br>
  
  <div>
    <%= link_to "Back to orders", orders_path %>
  </div>
</div>


