<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Categories</h1>

  <a class="btn btn-primary my-3" href="/">Orders</a>
  <a class="btn btn-primary my-3" href="/menus">Menus</a>
  
  <div id="categories">
    <% @categories.each do |category| %>
      <%= render category %>
      <p>
        <%= link_to "Show this category", category %>
      </p>
      <hr>
    <% end %>
  </div>
  
  <%= link_to "New category", new_category_path %>
</div>
